.devicesContainer {
  display: grid;
  justify-content: center;
  margin: 3% 0;
}
.DeviceStasticsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  gap: 40px;
}

.secondSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
  gap: 20px;
}

/* From Uiverse.io by Yaya12085 */
.form {
  display: grid;
  justify-content: center;

  gap: 10px;
  width: fit-content;
  background-color: #fff;
  padding: 50px;
  border-radius: 20px;
}

.title {
  font-size: 22px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
}

.form-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: space-between;
  gap: 26px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

/* Hide the span when there's a value */
.form label .input.has-value + span {
  top: 30px;
  font-size: 10px;
  color: green;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

/* .smallinputs {
  width: 50px;
  outline: 1px solid red;
} */
.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}
.submit-rfid {
  border: none;
  outline: none;
  background-color: rgb(18, 189, 152);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
}

.newrfids {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 10px;
}
.pendingRfidLists {
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.4fr;
  gap: 20px;
  justify-content: center;
}
.remove-rfid {
  border: none;
  outline: none;
  background-color: rgb(212, 46, 17);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  width: fit-content;
}

.wh-fit-content {
  height: fit-content;
  width: fit-content;
}
.placeEnd {
  justify-self: end;
}

.titleSvg {
  width: fit-content;
}
.formTitle {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  justify-content: center;
}

.deviceChoice {
  display: grid;
}

.formNav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  justify-self: center;
}

.leftSide,
.rightSide {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.formNav button {
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.formNav button.active {
  background-color: #245d2e;
  color: white;
}

.formContainer {
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.registrationFormWithTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* align-items: center; */
}

.inactiveButton {
  background-color: #ccc;
}

.heightfit {
  height: fit-content;
}
.flexList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow the items to wrap */
  gap: 15px; /* Add spacing between items */
  max-width: 250px;
}
.inactiveColor {
  background-color: #ece800;
}
/* Green border if RFID key is found */
.input.found {
  border-color: rgb(0, 255, 0);
  /* background-color: #5d8565; */
}

/* Red border if RFID key is not found */
.input.not-found {
  border-color: red;
}
