.headerClass {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  height: 60px;
}
.headerComponents {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  width: 90%;
  justify-content: space-evenly;
}

.headernaves {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;
  justify-items: center;
}

.jumper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  width: 250px;
  margin-left: 60px;
}

.linkcolor {
  color: #bee9e8;
}

.headerhr {
  width: fit-content;
  text-align: center;
  margin-right: -55px;
  border: 1px solid #bee9e8;
  margin-top: 8px;
  height: 25px;
}

@media (max-width: 768px) {
  .linkcolor {
    display: none;
  }
}
