/* Table container styling */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Arial", sans-serif;
  margin-top: 20px;
}

/* Header styling */
thead {
  background-color: var(--main-header-background-color);
  color: white;
}

thead th {
  padding: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

/* Body styling */
tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody td {
  padding: 12px;
  text-align: center;
  font-size: 15px;
  white-space: nowrap; /* Prevent text from wrapping to a new line */
  overflow: hidden; /* Hide overflow if text exceeds the cell */
  text-overflow: ellipsis; /* Add ellipsis (...) for long text */
}

/* Border for table cells */
th,
td {
  border-bottom: 1px solid #ddd;
}

/* Total column font style (if you want a special style for the total column) */
tbody td:nth-child(6) {
  font-weight: bold;
  color: #333;
}

/* Hover effect */
tbody tr:hover {
  background-color: #ececec;
  cursor: pointer;
}

.smallbutton {
  height: 25px;
  width: 80px;
}
.errortableButton {
  width: 120px;
}

/* for active devices */
/* .activedevicesTable {
    
} */

.activedevicesTable-header {
  background-color: var(--main-header-background-color);
}

/* for active devices */

.inactivedevicesTable-header {
  background-color: var(--main-header-background-color);
}

.rfidData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rfidOps {
  margin-left: auto; /* Pushes the edit icon to the far right */
}

.dfdf {
  border-right: 5px;
}
