.App {
  display: grid;
  grid-template-columns: 1fr;
  /* text-align: center; */
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: grid;
  justify-content: center;
  font-size: calc(1px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pageContainer{
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 5px;
  /* justify-items: center; */
}

.sideBar{
  /* border-right: 1px solid rgb(190, 187, 187); */
  display: grid;
  grid-template-columns: 1fr .2fr;
}

.footerContainer{
  border-top: 1px solid rgb(199, 199, 199);
  display: grid;
  justify-content: center;
}